* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  background: linear-gradient(90deg, #fc466b 0%, #3f5efb 100%);
}

h2 {
  font-size: 5rem;
}
.form-wrapper {
  flex: 3 1 40rem;
  background: linear-gradient(90deg, #e3ffe7 0%, #d9e7ff 100%);
  padding: 5rem;
  margin: 4rem 6rem;
  border-radius: 2rem;
  box-shadow: 0 0 3rem 0.2rem;
}

.contact {
  min-height: 90vh;
  flex-wrap: wrap;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form-wrapper span {
  font-size: 4rem;
  color: rgb(197, 29, 127);
}
.form-wrapper label {
  display: block;
}
.form-wrapper input {
  display: block;
  margin: 3rem 0rem;
  width: 100%;
  justify-content: center;
  align-items: center;
  background: rgb(0, 0, 0);
  color: rgb(253, 253, 253);
  border: none;
  border-radius: 1rem;
  padding: 1rem;
  outline-color: none;
}
input:focus,
textarea:focus,
select:focus {
  outline: none;
}

.form-wrapper .button {
  padding: 1rem;
  width: 100%;
  font-size: 2rem;
  background: #3f5efb;
  color: white;
  border: none;
  border-radius: 1rem;
  cursor: pointer;
}

.form-wrapper h2 {
  margin-bottom: 2rem;
}
.message {
  display: block;
  margin: 3rem 0rem;
  padding: 0.3rem;
  box-shadow: black;
  color: white;
  border: none;
}
.swal-button {
  border-radius: 0.5rem;
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.3);
  border: none;
}
